@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
}
header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17) 50%,rgba(119, 119, 119, 0) 100%);   
}
/* shared starts styles */
.btn-primary{
    width: 92px;
    height: 38px; 
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);   
}

/* shared ends styles */

/* navbar styles starts here */
.navbar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;    
}
.links{
    width: 465px;
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
.navbar a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
}
/* navbar styles ends here */

/* banner section start here */
.banner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
}
.text-section h2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4.8rem;
    font-weight: 900;  
}
.text-section p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}
.btn-join{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    border-radius: 2.6rem;
    background: rgb(230, 83, 60);
    padding: 1rem 2.5rem;
    margin-bottom: 10px;
}
.btn-download{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 1rem 2.5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2.6rem;
    background: none;
}
.image{
    max-width: 100%;
}
.budage-1{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px); 
    background: rgba(48, 48, 48, 0.54); 
    display: flex;  
    align-items: center;
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-top: -200px;
    margin-left: -100px;
}
.three{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;    
}
.budage-2{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    margin-left: 300px;
    margin-top: -250px;
}
.five{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;   
}
.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
    margin-right: 5px;
}
/* banner section ends here */

/* responsive starts*/
@media screen and (max-width: 576px) {
    .links{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .budage-1{
        margin-top: -100px;
        margin-left: -0;
    }
    .budage-2{
        position: relative;
        margin-left: 170px;
        margin-top: -200px;
    }
}